
# Project
target/
logs/
data/
results/
.classpath
.factorypath
.project
.settings/
.local_jdk/
dependency-reduced-pom.xml

# Editor
.vscode/
.metals/

# Apple
.DS_Store
**/.DS_Store

# NixOS
*.nix
.direnv/
.envrc
